<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Simulateur d'action</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Compétence du joueur</ion-card-title>
      <ion-card-subtitle>Sélectionnez les compétences du joueur actif</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="comp">
        <ion-checkbox [(ngModel)]="joueurActif.esquive">Esquive</ion-checkbox>
        <ion-checkbox [(ngModel)]="joueurActif.priseSure">Prise sûr</ion-checkbox>
        <ion-checkbox [(ngModel)]="joueurActif.equilibre">Équilibre</ion-checkbox>
        <ion-checkbox [(ngModel)]="joueurActif.passe">Passe</ion-checkbox>
        <!-- <ion-checkbox [(ngModel)]="joueurActif.bagareur">Bagareur</ion-checkbox> -->
        <ion-checkbox [(ngModel)]="joueurActif.reception">Réception</ion-checkbox>
        <ion-checkbox [(ngModel)]="joueurActif.frenesie">Frénésie</ion-checkbox>
        <ion-checkbox [(ngModel)]="joueurActif.jugg">JuggerNauth</ion-checkbox>
        <!-- <ion-checkbox [(ngModel)]="joueurActif.pro">Pro</ion-checkbox> -->
      </div>
      <!-- Fonction en attente-->
      <!-- <ion-item>
        <ion-select   [(ngModel)]="joueurActif.solitaire" interface="action-sheet" label="Solitaire">
          <ion-select-option value="2">2+</ion-select-option>
          <ion-select-option value="3">3+</ion-select-option>
          <ion-select-option value="4">4+</ion-select-option>
          <ion-select-option value="5">5+</ion-select-option>
        </ion-select>
      </ion-item> -->
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Actions</ion-card-title>
      <ion-card-subtitle>Choisissez les actions à réaliser</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- bouton esquive -->
      <ion-button expand="block" (click)="displayAction('Esquive')">Esquive</ion-button>
      <ion-card *ngIf="action=='Esquive'">
        <ion-card-header>
          <ion-card-title>{{action}}</ion-card-title>
          <ion-card-subtitle *ngIf="joueurActif.esquive">Le joueur a Esquive</ion-card-subtitle>
          <ion-card-subtitle *ngIf="joueurActif.pro">Le joueur a Pro</ion-card-subtitle>
          <ion-card-subtitle *ngIf="joueurActif.solitaire">Le joueur a Solitaire
            ({{joueurActif.solitaire}}+)</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-select [(ngModel)]="difficulte" interface="action-sheet" label="Difficulté de l'action">
            <ion-select-option value=2>2+</ion-select-option>
            <ion-select-option value=3>3+</ion-select-option>
            <ion-select-option value=4>4+</ion-select-option>
            <ion-select-option value=5>5+</ion-select-option>
            <ion-select-option value=6>6+</ion-select-option>
          </ion-select>
          <ion-button class="btn-add" (click)="addDifficulte(action, difficulte, joueurActif.esquive)">Ajouter</ion-button>
        </ion-card-content>
      </ion-card>
      <!-- bouton blocage -->
      <ion-button expand="block" (click)="displayAction('Blocage')">Blocage</ion-button>
      <ion-card *ngIf="action=='Blocage'">
        <ion-card-header>
          <ion-card-title>{{action}}</ion-card-title>
          <ion-card-subtitle *ngIf="joueurActif.frenesie">Le joueur a Frénésie</ion-card-subtitle>
          <ion-card-subtitle *ngIf="joueurActif.jugg">Le joueur a JuggerNauth</ion-card-subtitle>
          <ion-card-subtitle *ngIf="joueurActif.bagareur">Le joueur a Bagareur</ion-card-subtitle>
          <ion-card-subtitle *ngIf="joueurActif.pro">Le joueur a Pro</ion-card-subtitle>
          <ion-card-subtitle *ngIf="joueurActif.solitaire">Le joueur a Solitaire
            ({{joueurActif.solitaire}}+)</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-select [(ngModel)]="blocage.dif" interface="action-sheet" label="Difficulté du Blocage">
            <ion-select-option value=-3>3D contre</ion-select-option>
            <ion-select-option value=-2>2D contre</ion-select-option>
            <ion-select-option value=1>1D</ion-select-option>
            <ion-select-option value=2>2D</ion-select-option>
            <ion-select-option value=3>3D</ion-select-option>
          </ion-select>
          <div class="blocageDice">
          <div class="blocageBox">
            <ion-img class="xs" src="../../assets/skull.jpg" alt="skull"></ion-img>
            <ion-checkbox [(ngModel)]="blocage.skull"></ion-checkbox>
          </div>
          <div class="blocageBox">
            <ion-img class="xs" src="../../assets/powskull.jpg" alt="powskull"></ion-img>
            <ion-checkbox [disabled]="joueurActif.frenesie && joueurActif.jugg" [(ngModel)]="blocage.powskull"></ion-checkbox>
          </div>
          <div class="blocageBox">
            <ion-img class="xs" src="../../assets/push.jpg" alt="push"></ion-img>
            <ion-checkbox [disabled]="joueurActif.frenesie" [(ngModel)]="blocage.push"></ion-checkbox>
          </div>
          <div class="blocageBox">
            <ion-img class="xs" src="../../assets/bouscule.jpg" alt="bousucle"></ion-img>
            <ion-checkbox  [(ngModel)]="blocage.bouscule"></ion-checkbox>
          </div>
          <div class="blocageBox">
            <ion-img class="xs" src="../../assets/pow.jpg" alt="pow"></ion-img>
            <ion-checkbox [(ngModel)]="blocage.pow"></ion-checkbox>
          </div>
          </div>
        </ion-card-content>
        <ion-card-content *ngIf="joueurActif.frenesie ">
          <ion-label> Blocage de la frénésie</ion-label>
          <ion-select [(ngModel)]="frenesie.dif" interface="action-sheet" label="Difficulté du Blocage">
            <ion-select-option value=-3>3D contre</ion-select-option>
            <ion-select-option value=-2>2D contre</ion-select-option>
            <ion-select-option value=1>1D</ion-select-option>
            <ion-select-option value=2>2D</ion-select-option>
            <ion-select-option value=3>3D</ion-select-option>
          </ion-select>
          <div class="blocageDice">
          <div class="blocageBox">
            <ion-img class="xs" src="../../assets/skull.jpg" alt="skull"></ion-img>
            <ion-checkbox [(ngModel)]="frenesie.skull"></ion-checkbox>
          </div>
          <div class="blocageBox">
            <ion-img class="xs" src="../../assets/powskull.jpg" alt="powskull"></ion-img>
            <ion-checkbox [(ngModel)]="frenesie.powskull"></ion-checkbox>
          </div>
          <div class="blocageBox">
            <ion-img class="xs" src="../../assets/push.jpg" alt="push"></ion-img>
            <ion-checkbox [(ngModel)]="frenesie.push"></ion-checkbox>
          </div>
          <div class="blocageBox">
            <ion-img class="xs" src="../../assets/bouscule.jpg" alt="bousucle"></ion-img>
            <ion-checkbox [(ngModel)]="frenesie.bouscule"></ion-checkbox>
          </div>
          <div class="blocageBox">
            <ion-img class="xs" src="../../assets/pow.jpg" alt="pow"></ion-img>
            <ion-checkbox [(ngModel)]="frenesie.pow"></ion-checkbox>
          </div>
        
       
            </div>
        </ion-card-content>
        <div class="btn-add">
          <ion-button (click)="addBlocage(blocage, frenesie)">Ajouter</ion-button>
          </div>
      </ion-card>
    
      <!-- bouton ramassage -->
      <ion-button expand="block" (click)="displayAction('Ramassage')">Ramassage</ion-button>
      <ion-card *ngIf="action=='Ramassage'">
        <ion-card-header>
          <ion-card-title>{{action}}</ion-card-title>
          <ion-card-subtitle *ngIf="joueurActif.priseSure">Le joueur a Prise Sûre</ion-card-subtitle>
          <ion-card-subtitle *ngIf="joueurActif.pro && !joueurActif.priseSure ">Le joueur a Pro</ion-card-subtitle>
          <ion-card-subtitle *ngIf="joueurActif.solitaire  && !joueurActif.priseSure">Le joueur a Solitaire
            ({{joueurActif.solitaire}}+)</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-select [(ngModel)]="difficulte" interface="action-sheet" label="Difficulté de l'action">
            <ion-select-option value=2>2+</ion-select-option>
            <ion-select-option value=3>3+</ion-select-option>
            <ion-select-option value=4>4+</ion-select-option>
            <ion-select-option value=5>5+</ion-select-option>
            <ion-select-option value=6>6+</ion-select-option>
          </ion-select>
          <ion-button class="btn-add" (click)="addDifficulte(action, difficulte, joueurActif.priseSure)">Ajouter</ion-button>
        </ion-card-content>
      </ion-card>
      <!-- bouton passe -->
      <ion-button expand="block" (click)="displayAction('Passe')">Passe</ion-button>
      <ion-card *ngIf="action=='Passe'">
        <ion-card-header>
          <ion-card-title>{{action}}</ion-card-title>
          <ion-card-subtitle *ngIf="joueurActif.passe">Le joueur a Passe</ion-card-subtitle>
          <ion-card-subtitle *ngIf="joueurActif.pro && !joueurActif.passe ">Le joueur a Pro</ion-card-subtitle>
          <ion-card-subtitle *ngIf="joueurActif.solitaire  && !joueurActif.passe">Le joueur a Solitaire
            ({{joueurActif.solitaire}}+)</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-select [(ngModel)]="joueurActif.cp" interface="action-sheet" label="Capacité de Passe du joueur">
            <ion-select-option value=1>1+</ion-select-option>
            <ion-select-option value=2>2+</ion-select-option>
            <ion-select-option value=3>3+</ion-select-option>
            <ion-select-option value=4>4+</ion-select-option>
            <ion-select-option value=5>5+</ion-select-option>
            <ion-select-option value=6>6+</ion-select-option>
          </ion-select>
          <ion-select [(ngModel)]="difficulte" interface="action-sheet" label="Portée de la passe">
            <ion-select-option value=0>éclair (0)</ion-select-option>
            <ion-select-option value=-1>courte (-1)</ion-select-option>
            <ion-select-option value=-2>longue (-2)</ion-select-option>
            <ion-select-option value=-3>bombe(-3)</ion-select-option>
          </ion-select>
          <ion-button class="btn-add" (click)="addPasse( difficulte,joueurActif.cp,  joueurActif.passe)">Ajouter</ion-button>
        </ion-card-content>
      </ion-card>
      <!-- bouton foncer -->
      <ion-button expand="block" (click)="displayAction('Foncer')">Foncer</ion-button>
      <ion-card *ngIf="action=='Foncer'">
        <ion-card-header>
          <ion-card-title>{{action}}</ion-card-title>
          <ion-card-subtitle *ngIf="joueurActif.equilibre">Le joueur a Prise Sûre</ion-card-subtitle>
          <ion-card-subtitle *ngIf="joueurActif.pro ">Le joueur a Pro</ion-card-subtitle>
          <ion-card-subtitle *ngIf="joueurActif.solitaire">Le joueur a Solitaire
            ({{joueurActif.solitaire}}+)</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-select [(ngModel)]="difficulte" interface="action-sheet" label="Difficulté de l'action">
            <ion-select-option value=2>2+</ion-select-option>
            <ion-select-option value=3>3+</ion-select-option>
            <ion-select-option value=4>4+</ion-select-option>
          </ion-select>
          <ion-button class="btn-add" (click)="addDifficulte(action, difficulte, joueurActif.equilibre)">Ajouter</ion-button>
        </ion-card-content>
      </ion-card>
      <!-- bouton réception -->
      <ion-button expand="block" (click)="displayAction('Réception')">Réception</ion-button>
      <ion-card *ngIf="action=='Réception'">
        <ion-card-header>
          <ion-card-title>{{action}}</ion-card-title>
          <ion-card-subtitle *ngIf="joueurActif.reception">Le joueur a Prise Sûre</ion-card-subtitle>
          <ion-card-subtitle *ngIf="joueurActif.pro && !joueurActif.reception ">Le joueur a Pro</ion-card-subtitle>
          <ion-card-subtitle *ngIf="joueurActif.solitaire  && !joueurActif.reception">Le joueur a Solitaire
            ({{joueurActif.solitaire}}+)</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-select [(ngModel)]="difficulte" interface="action-sheet" interface="action-sheet"
            label="Difficulté de l'action">
            <ion-select-option value=2>2+</ion-select-option>
            <ion-select-option value=3>3+</ion-select-option>
            <ion-select-option value=4>4+</ion-select-option>
            <ion-select-option value=5>5+</ion-select-option>
            <ion-select-option value=6>6+</ion-select-option>
          </ion-select>
          <ion-button class="btn-add" (click)="addDifficulte(action, difficulte, joueurActif.reception)">Ajouter</ion-button>
        </ion-card-content>
      </ion-card>
      <!-- bouton autre -->
      <ion-button expand="block" (click)="displayAction('Autre Action')">Autre Action</ion-button>
      <ion-card *ngIf="action=='Autre Action'">
        <ion-card-header>
          <ion-card-title>{{action}}</ion-card-title>
          <ion-card-subtitle *ngIf="joueurActif.pro  ">Le joueur a Pro</ion-card-subtitle>
          <ion-card-subtitle *ngIf="joueurActif.solitaire ">Le joueur a Solitaire
            ({{joueurActif.solitaire}}+)</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-select [(ngModel)]="difficulte" interface="action-sheet" label="Difficulté de l'action">
            <ion-select-option value=2>2+</ion-select-option>
            <ion-select-option value=3>3+</ion-select-option>
            <ion-select-option value=4>4+</ion-select-option>
            <ion-select-option value=5>5+</ion-select-option>
            <ion-select-option value=6>6+</ion-select-option>
          </ion-select>
          <ion-button class="btn-add" (click)="addDifficulte(action, difficulte)">Ajouter</ion-button>
        </ion-card-content></ion-card>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Résultat</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <!-- Fonction en Attente-->
        <!-- <ion-item>
          <ion-select (ionChange)="calculProba()" [(ngModel)]="relance" interface="action-sheet"
            label="Nombre de Relance">
            <ion-select-option value=0>0</ion-select-option>
            <ion-select-option value=1>1</ion-select-option>
            <ion-select-option value=2>2</ion-select-option>
            <ion-select-option value=3>3</ion-select-option>
            <ion-select-option value=4>4</ion-select-option>
            <ion-select-option value=5>5</ion-select-option>
            <ion-select-option value=6>6</ion-select-option>
            <ion-select-option value=7>7</ion-select-option>
            <ion-select-option value=8>8</ion-select-option>
          </ion-select>
        </ion-item> -->

        <ion-card>
          <ion-card-title>Séquence</ion-card-title>
          <ion-card-content>
                <ion-item (click)="supSeq(index)" *ngFor="let seq of sequence; let index">
                  {{seq.com}}
                </ion-item>
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <ion-card-title>Probabilité</ion-card-title>
          <ion-card-content>

            <ion-item *ngFor="let r of result; let i = index">
              {{r}}
            </ion-item>
       
    </ion-card-content>

  </ion-card>
  </ion-list>
  <ion-button expand="block" (click)="clear()">Reset</ion-button>
  <ion-button expand="block" (click)="export()">Export</ion-button>
  </ion-card-content>


  <ion-modal [isOpen]="modalAction">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{action}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modalAction=false">Fermé</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-select [(ngModel)]="difficulte" label="Difficulté de l'action">
          <ion-select-option value=2>2+</ion-select-option>
          <ion-select-option value=3>3+</ion-select-option>
          <ion-select-option value=4>4+</ion-select-option>
          <ion-select-option value=5>5+</ion-select-option>
          <ion-select-option value=6>6+</ion-select-option>
        </ion-select>
      </ion-content>
    </ng-template>
  </ion-modal>